<strong mat-dialog-title>References</strong>
<mat-dialog-content>
    <div class="reference">
        <h4 class="ref-title">Title</h4>
        IBM – August 2014 to August 2015 (12 moth placement as Trainee Software Engineer). Role My primary activity was as a tester
        of the Customer Information Control System (CICS) Explorer system. However, following a comprehensive period of training,
        I was tasked with developing a Health Checker program, split between a server side application and client,
    </div>
    <hr>
    <div class="reference">
        <h4 class="ref-title">Title</h4>
        The reporters included a Command Line Output, a TrayIcon and a GUI that is accessed via the TrayIcon. * For the Giveback
        program, I joined a BlueFusion team. My team and I worked on improving the Big Blue Rover (BBR) game that was made
        in previous years; I took responsibility for the scoring system.
    </div>
    <hr>
    <div class="reference">
        <h4 class="ref-title">Title</h4>
        IBM – August 2014 to August 2015 (12 moth placement as Trainee Software Engineer). Role My primary activity was as a tester
        of the Customer Information Control System (CICS) Explorer system. However, following a comprehensive period of training,
        I was tasked with developing a Health Checker program, split between a server side application and client,
    </div>
    <hr>
    <div class="reference">
        <h4 class="ref-title">Title</h4>
        The reporters included a Command Line Output, a TrayIcon and a GUI that is accessed via the TrayIcon. * For the Giveback
        program, I joined a BlueFusion team. My team and I worked on improving the Big Blue Rover (BBR) game that was made
        in previous years; I took responsibility for the scoring system.
    </div>
    <hr>
    <div class="reference">
        <h4 class="ref-title">Title</h4>
        IBM – August 2014 to August 2015 (12 moth placement as Trainee Software Engineer). Role My primary activity was as a tester
        of the Customer Information Control System (CICS) Explorer system. However, following a comprehensive period of training,
        I was tasked with developing a Health Checker program, split between a server side application and client,
    </div>
    <hr>
    <div class="reference">
        <h4 class="ref-title">Title</h4>
        The reporters included a Command Line Output, a TrayIcon and a GUI that is accessed via the TrayIcon. * For the Giveback
        program, I joined a BlueFusion team. My team and I worked on improving the Big Blue Rover (BBR) game that was made
        in previous years; I took responsibility for the scoring system.
    </div>
    <hr>
    <div class="reference">
        <h4 class="ref-title">Title</h4>
        IBM – August 2014 to August 2015 (12 moth placement as Trainee Software Engineer). Role My primary activity was as a tester
        of the Customer Information Control System (CICS) Explorer system. However, following a comprehensive period of training,
        I was tasked with developing a Health Checker program, split between a server side application and client,
    </div>
    <hr>
    <div class="reference">
        <h4 class="ref-title">Title</h4>
        The reporters included a Command Line Output, a TrayIcon and a GUI that is accessed via the TrayIcon. * For the Giveback
        program, I joined a BlueFusion team. My team and I worked on improving the Big Blue Rover (BBR) game that was made
        in previous years; I took responsibility for the scoring system.
    </div>
    <hr>
    <div class="reference">
        <h4 class="ref-title">Title</h4>
        Must be able to view Content
    </div>
</mat-dialog-content>