/*
    Front Page Project section
*/

.section-wrapper {
  padding-top: 70px;
  background: #2f3238;
  text-align: center;
}

.underlay {
  background-color: #2f3238;
}

/*
    Project image position
*/
.project-img {
  background-repeat: no-repeat;
  background-size: 50% 100%;
  min-height: 600px;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.5s linear;
}

.img-right {
  background-position: right top, left top;
}

/*
    Project content position
*/
.isright-position-right {
  text-align: left;
  float: left;
  padding-left: 20px;
  min-height: 415px;
  max-height: 415px;
  min-width: 50%;
}

.isleft-position-left {
  text-align: right;
  float: right;
  padding-right: 20px;
  min-height: 415px;
  max-height: 415px;
  min-width: 100%;
}

/*
    Project title
*/

.subtitle {
  padding-left: 20px;
  min-height: 0px;
}

/*
    Project snips
*/

.snip-overlay {
  display: none;
  width: 92%;
  padding-left: 20px;
}

.overlay-left {
  position: absolute;
  float: left;
}

.overlay-right {
  float: right;
  margin-right: 40px;
}

.project-snip-text {
  font-size: 20px;
}

/*
    Project snip Buttons
*/

.project-snip-btns {
  padding-top: 240px;
  margin: 0 auto;
  max-width: 80%;
}

.btn-snip {
  width: 31%;
  padding: 3% 0%;
  font-size: 18px;
}

@media screen and (max-width: 1800px) {
  .btn-snip {
    font-size: 18px;
  }
}
@media screen and (max-width: 1600px) {
  .btn-snip {
    font-size: 16px;
  }
}
@media screen and (max-width: 1500px) {
  .btn-snip {
    font-size: 15px;
  }
}
@media screen and (max-width: 1400px) {
  .btn-snip {
    font-size: 14px;
  }
}
@media screen and (max-width: 1300px) {
  .btn-snip {
    font-size: 13px;
  }
}
@media screen and (max-width: 1200px) {
  .btn-snip {
    font-size: 12px;
  }
}
@media screen and (max-width: 1100px) {
  .btn-snip {
    font-size: 11px;
  }
}

.dropdown-menu {
  background-color: #25292c;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #d30000;
  color: #fff;
}

.btn-active {
  background-color: #d30000;
}

.fa-edit {
  float: right;
  margin-top: 1.5px;
  margin-right: 10px;
}
