<!-- BEGIN FRONT PAGE -->
<section id="front-page" class="underlay">
  <div *ngFor="let proj of projects">
    <div id="project{{ proj.id }}" class="section-wrapper project-img img-{{ proj.opposite }}">
      <div class="section-title isright-position-{{ proj.position }} col-md-6 {{ proj.offset }} ">
        <div class="isleft-position-{{ proj.position }}">
          <h2 id="title{{ proj.id }}" class="title" data-effect="fadeInDown">{{ proj.title }}</h2>
          <h3 id="subtitle{{ proj.id }}" class="subtitle" data-effect="fadeInUp">{{ proj.subtitle }}</h3>
          <div *ngFor="let snip of projects[proj.id].snip">
            <div id="{{ snip.id }}" class="snip-overlay overlay-left" align="justify">
              <div class="project-snip-text">
                <h3 id="{{ snip.id }}_catagory">{{ snip.catagory }}</h3>
                <div id="{{ snip.id }}_text">{{ snip.text }}</div>
              </div>
            </div>
          </div>
          <div class="project-snip-btns ">
            <div *ngFor="let snip of projects[proj.id].snip">
              <div
                *ngIf="snip.btnName"
                id="btn_{{ snip.id }}"
                class="col-md-6 btn btn-lg btn-dark btn-snip"
                data-effect="fadeInDown"
                (click)="view(proj, snip.id.substring(13))"
              >
                {{ snip.btnName }}
                <span *ngIf="proj.editor">
                  <i class="fa fa-edit"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <app-content-editor [projects]="projects" [project]="proj"></app-content-editor>
        <div class="spacer big"></div>
      </div>
      <app-image-editor [projects]="projects" [project]="proj" (uploaded)="reload($event)"></app-image-editor>
    </div>
  </div>
</section>
<!-- END FRONT PAGE -->
