.section-wrapper {
  padding-top: 100px;
  background: #313941;
  text-align: center;
}

.title-break {
  border-top: 3px solid #ccc;
  width: 80px;
  margin: 40px auto 50px auto;
  display: inline-block;
}

.details-section {
  min-height: 585px;
  max-height: 585px;
  overflow-x: hidden;
  overflow-y: auto;
}
