<!-- BEGIN SKILL -->
<section id="skills">
  <div class="section-wrapper">
    <div class="section-title">
      <h2 class="white animatez" data-effect="fadeInDown">
        <strong>SKILL</strong>
      </h2>
      <hr class="title-break">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="skill-bar">
            <ul>
              <li>
                <div class="bar" data-value="100">
                  <h5>Branding</h5>
                </div>
                <span>10 / 10</span>
              </li>
              <li>
                <div class="bar" data-value="85">
                  <h5>Elegant</h5>
                </div>
                <span>8.5 / 10</span>
              </li>
              <li>
                <div class="bar" data-value="92">
                  <h5>Quality</h5>
                </div>
                <span>9.2 / 10</span>
              </li>
              <li>
                <div class="bar" data-value="81">
                  <h5>Creative</h5>
                </div>
                <span>8.1 / 10</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="skill-bar">
            <ul>
              <li>
                <div class="bar" data-value="90">
                  <h5>Branding</h5>
                </div>
                <span>9 / 10</span>
              </li>
              <li>
                <div class="bar" data-value="65">
                  <h5>Elegant</h5>
                </div>
                <span>6.5 / 10</span>
              </li>
              <li>
                <div class="bar" data-value="92">
                  <h5>Quality</h5>
                </div>
                <span>9.2 / 10</span>
              </li>
              <li>
                <div class="bar" data-value="100">
                  <h5>Creative</h5>
                </div>
                <span>10 / 10</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer big"></div>
  </div>
</section>
<!-- END SKILL -->