<!-- BEGIN TEAM -->
<section id="team">
  <div class="section-wrapper">
    <div class="spacer big"></div>
    <!-- BEGIN VIDEO -->
    <div class="section-fill">

      <div class="video-wrapper">
        <div class="bg-video" style="background:url('assets/images/bg-video.jpg');"></div>
        <div class="video-overlay"></div>
        <div class="fill-wrapper">
          <div class="section-title">
            <h1 class="white animatez" data-effect="fadeInDown">
              <strong>Video</strong>&nbsp;Profile
            </h1>
            <h3 class="subtitle white animatez" data-effect="fadeInUp">
              Phasellus quis
              <strong>lectus metus</strong>&nbsp;at posuere neque jused pharetra.
            </h3>
            <div class="spacer small"></div>
          </div>
          <div class="imac-wrapper animatez" data-effect="slideInDown">
            <a href="http://youtu.be/kNVhtJx-5VY" data-type="youtube" class="popup">
              <img src="assets/images/imac.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- END VIDEO -->

  </div>
</section>
<!-- END TEAM -->