/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2f3238; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b71111; 
}
